<!doctype html>
<html lang="en">
  <%- include(`../parts/head.ejs`); %>
  <body>
    <!-- <%- include(`../parts/header.ejs`) %> -->
    <nav><%- include(`../parts/navbar.ejs`); %></nav>
    <hr>



    <main>
      <section class="toc">
        <div class="wrapper">
          <%- include(`../parts/table-of-contents.ejs`, { toc }) %>
        </div>
      </section>
      <hr>
      <section class="toc">
        <div class="wrapper">
          <%- contents %>
        </div>
      </section>
    </main>
    <hr>

    <!-- <%- include(`../parts/footer.ejs`); %> -->
    <%- include(`../parts/foot.ejs`); %>
  </body>
</html>